<h1> Hello! </h1>
<style> 
body {
    background-image: url("https://newevolutiondesigns.com/images/freebies/colorful-background-14.jpg");
}
</style>
 <body>
    <div class="content">
                
          <h1 style="color:white">To Do List</h1>
        
        <ul>
          <% @todos.each do |todo| %>
        <li>
          <div style="background-color:pink">
              <a href="show/<%= todo.id%>"></a>
                <h1 style="color:black"><%= todo.description %></h1>
              
                
            </a>
        </div> 
        <br>
         <span class="pomodoro-estimate"><%= todo.pomodoro_estimate %> Pomodoro</span>
        
        </li>
        <% end %>
        

        
        
   
        </ul>
      
        <div class="input-section">
        
         <input class="text-input" type="text" placeholder="add a new todo">
        <input class="text-input" type="number" placeholder="pomodoro estimate">
        <input class="button" type="submit" value="add todo">
        
        </div>
        
        
        
        
        <img src="https://media3.giphy.com/media/xT5LMyFG6RXr8cq4jC/200_s.gif" 
          alt="" height="700" width="900">
          <!--<a href="todo description"-->
</div>
